# backend

backend/venv
__pycache__/
__init__.py
.env
.configs
*.pyc
.pytest_cache

# frontend
# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
prepush.sh

# vscode
.vscode/