.Schedule {
  text-align: center;
}

.Schedule-header {
  background-color: #0b358a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ToggleSchedule {
  width: 9vw;
  height: 5vh;
  display:grid;
  position: absolute;
  top: .5vh;
  right: 0vw;
}

.ToggleCourses {
  width: 9vw;
  height: 6vh;
  display:grid;
  position: absolute;
  top: .5vh;
  left: 0vw;
}


.listCourses {
  width: 15vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: .5vmin solid white;
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  text-align: center;
}

.searchOptions {
  width: 15vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: .5vmin solid white;
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  text-align: center;
}

.courses {
  width: 69vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: .5vmin solid white;
  position: absolute;
  bottom: 0vh;
}

.center {
  width: 69vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: .5vmin solid white;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverBtn {
  position: relative;
  font-size: calc(2.65vh);
  border: .3vh solid rgb(255, 136, 0);
  height: 5vh;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#courseListButtons {
  display: flex;
  justify-content: center;
}

.filterCalendar {
  position: absolute;
  bottom: 1vh;
}

#searchBar {
  height: 2.8vh;
  width: 12vw;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vw;
  width: 35vw;
}