.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0b358a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seeSchedule {
  width: 1274px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  top: 0px;
  text-align: right;
}

.listCourses {
  width: 200px;
  height: 552px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.searchOptions {
  width: 200px;
  height: 552px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.courses {
  width: 868px;
  height: 552px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  bottom: 0px;
  left: 205px;
}