.Schedule {
  text-align: center;
}

.Schedule-header {
  background-color: #0b358a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ToggleSchedule {
  width: 9vw;
  height: 5vh;
  display:grid;
  position: absolute;
  top: 5px;
  right: 0px;
}

.ToggleCourses {
  width: 9vw;
  height: 5vh;
  display:grid;
  position: absolute;
  top: 5px;
  left: 0px;
}


.listCourses {
  width: 15vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

.inputBar {
  position: absolute;
  bottom: 1vh;
}

.searchOptions {
  width: 15vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.courses {
  width: 69vw;
  height: 92vh;
  background: rgba(0, 0, 0, 0);
  border: 3px solid white;
  position: absolute;
  bottom: 0px;
}

.hoverBtn {
  position: relative;
  font-size: calc(2px + 2vmin);
}